table#myTable1part1 td, table#myTable1part2 td {
    height: 30px !important;
    vertical-align: middle !important;
    font-size: 11px !important;;
    font-weight: bold !important;
    margin: 0px !important;
    padding: 0px 0px !important;
    text-align: center;
}
table#myTable1part1 th, table#myTable1part2 th {
    height: 32px !important;
    vertical-align: middle !important;
    font-size: 11px !important;
    font-weight: bold !important;
    margin: 0px !important;
    padding: 0px 5px !important;
    text-align: center;
    text-transform: uppercase;
}
.col-md-9,.col-md-3{
    padding:0px !important;
    margin: 0 -1px !important;
}
input.form-control {
    height: 25px !important;
    width: 100% !important; 
    font-size: 11px !important;
    padding: 5px !important;
    text-align: center;
}

   .displaynonetd{
        visibility: hidden ;
        border: none;
    }
   .table#myTable1part2 td {
        border-left: none !important;
        border-right: 0px;
    }
    .table#myTable1part2 td:last-child{
        border-right: 1px solid #ddd;
    }
  
 

  #add .form-control{
      text-align: left !important;
  }
  .btm-back:hover{
      color:#fff;
  }
  th.start{
    background: #C9C9C9;
    color:#000;
}        
th.end{
    background: #b3c0ce;
    color:#000;
} 
td.start-td{
    background: #e4e4e4;
} 
td.end-td{
    background: #b3c0ce;
}
input.form-control{
    background: #fff;
}

.chart-table1{
    background: #FFFFFF;
box-shadow: 5px 0 11px -5px rgba(156,156,156,0.50);
}
.chart-table1 h4{
    margin:0px;
    text-align: center;
    color: #161616;
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 8px 0px;

}
.hdtbs-heads {
    color: #161616;
    font-family: montserrat;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
a.menus{
    cursor: pointer;
}
.legents{
    list-style: none;
    display: inline-flex;
    float: right;
}
.plan-cell {
    background: #000 !important;
    height: 9px;
    padding: 0px;
    width: 100%;
    margin: 0px;
}
.plan-cell-blue {
    background: #4A90E2 !important;
    height: 9px;
    padding: 0px;
    width: 100%;
    margin: 0px;
}
.img1{
    position: relative;
    bottom: 6px;

}
.q-value {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
    position: relative;
    top: -12px;
    cursor: pointer;
}
label.btn.btn-sm.uploadbtn.cursor {
    background: #00398C;
    border-radius: 7px;
    color: #fff;
    padding: 13px 38px 17px 35px;
}
button.btn.btn-sm.dowloadbtn.cursor {
    background: #00398C;
    border-radius: 3px;
    color: #fff;
}
section.modal-bg{
    padding: 18px 0px 0px 0px;
}
.btn.btn-sm.dowloadbtn.cursor{
    background: #00398C;
    border-radius: 3px;
    color: #fff;
}
label.editmodal {
    padding: 5px 0px 6px 0px;
}
div#modal-content{
    width: 71%;
    text-align: center;
    margin: 113px 0px 0px 133px;
}
img.icon-img1 {
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 9px 7px;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
}
img.icon-img2 {
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 7px 7px;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
}
div#eyetable td {
    text-align: center;
    width: 70px;
    padding: 25px 0px;
}

span.tick-box {
    cursor: pointer;
    display: flex;
    align-items: center;
}
span.tick-box-first {
    cursor: pointer;
    display: flex;
    align-items: center;
}
span.tick-box-last {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.tick-box:before,
.tick-box:after {
    flex: 1;
    content: '';
    height: 1px;
    background: black;
  }
.tick-box-first:after {
    flex: 1;
    content: '';
    height: 1px;
    background: black;
  }
  .tick-box-last:before {
    flex: 1;
    content: '';
    height: 1px;
    background: black;
  }
  .tick-box-first:before {
    flex: 1;
    content: '';
    height: 1px;
    background: transparent;
  }
  .tick-box-last:after {
    flex: 1;
    content: '';
    height: 1px;
    background: transparent;
  }
  img.img-fluid.upload-icon{
  background: #00398C;
  padding: 2px 2px 2px 3px;
  border-radius: 3px;
  }
  .icon-pull-right{
    float: right;
    margin-right: 10px;
    cursor: pointer;
  }
  :host >>> .tooltip-inner {
    background: #000;
box-shadow: 0 1px 8px 0 rgba(0,0,0,0.00);
border-radius: 4px;
color:#fff;
  }
  :host >>> .tooltip.top .tooltip-arrow:before,
  :host >>> .tooltip.top .tooltip-arrow {
    border-top-color: #000;
  }
  button.btn.btn-sm.dowloadbtn.cursor {
    background: #000;
    border-radius: 3px;
    color: #fff;
}
button.btn.btn-sm.dowloadbtn.cursor:hover{
    background: #000 !important;
    box-shadow: 0 0 3px #000 !important;
}
