
    <nav class=" navbar-expand-lg navbar-light  fixed-top" id="ticketnavbar">
        <div _ngcontent-c4="" class="innerhead">
            <img class="innerpgtop" src="assets/images/innerpagetopbg.jpg">

            <img class="innerpglogo" src="assets/images/loginpglogo.png">

        </div>
      
    <div class="setting-icon mr-5">
        <img class="img-fluid text-right " src="assets/images/settings.png" style="width:85%;background:transparent">
          <ul class="settings-content">
             <li class="setting-text"><a href="#" class="text-center">Hi Admin</a></li>

             <li class="setting-text"><a href="#" class="text-center logoff" ><i class="fa fa-power-off"></i>&nbsp; Logout</a></li>
          </ul>
          </div>

          <div class="logoutbutton">
            <i class="fa fa-power-off" routerLink="../login"></i>
          </div>

      </nav><!-- NavBar END -->
